* {
  padding: 0;
  margin: 0; }

.stylesansnarrow {
  font-family: "PT Sans Narrow", sans-serif; }

.sansupper {
  font-family: "PT Sans Narrow", sans-serif;
  text-transform: uppercase; }

@media only screen and (max-width: 768px) {
  .logo {
    width: 30%; }
  .a img {
    width: 10%; }
  .profile {
    margin-top: 0px; } }

.logo {
  width: 40%;
  margin-top: 10px; }

.menu1 {
  display: flex;
  list-style: none;
  justify-content: end;
  margin-top: 15px; }
  .menu1 li {
    margin-right: 10px; }
    .menu1 li a {
      color: black;
      font-size: 15px;
      text-decoration: none; }

.colorfondo {
  background-color: #c4b7a6; }

.colornavbar {
  background-color: #b9936c;
  border-radius: 25px; }

.fondobutton {
  background-image: linear-gradient(to bottom right, #b9936c, #dac292);
  border-radius: 10px; }

.cartIcon {
  width: 25px; }

.espaciado {
  padding: 15px; }
  .espaciado h3 {
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-size: 20px;
    padding: 10px;
    width: 320px;
    border-radius: 25px;
    background-image: linear-gradient(to bottom right, #b9936c, #dac292); }
  .espaciado p {
    margin-top: 8rem;
    font-size: 20px;
    padding: 20px;
    font-weight: 200;
    border-radius: 25px;
    color: black;
    background-image: linear-gradient(to bottom right, #b9936c, #dac292); }

.profile {
  margin-top: 7rem;
  text-align: center; }

.fondo {
  background-color: #b9936c; }
  .fondo li a {
    color: #161616; }

.lista {
  list-style: none;
  width: 200px; }
  .lista li {
    margin-top: 1rem;
    line-height: 2rem; }
    .lista li a {
      text-decoration: none;
      color: black; }

.producto {
  display: flex;
  justify-content: center;
  font-size: 16px; }

.precio {
  display: flex;
  justify-content: center;
  font-size: 18px; }

.button, .buttonprice {
  background-color: #e6e2d3;
  border-radius: 10px;
  text-align: center;
  border: 1px solid;
  margin-top: 1rem;
  padding: 15px;
  width: auto; }

.buttonprice {
  background-color: #b9936c;
  margin-top: 1rem; }

.fondolista {
  background-image: linear-gradient(to bottom right, #b9936c, #dac292);
  border-radius: 25px;
  padding-top: 15px; }

.sup {
  margin-bottom: 1rem; }

.fondobutton3 {
  background-image: linear-gradient(to bottom right, #b9936c, #dac292);
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto; }

.item-details {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

.item-image {
  width: 100%; }

.shopping-cart-items {
  padding: 20px 0px; }

.shopping-cart-header {
  border-bottom: 1px solid #ccc; }

.shopping-cart-image {
  max-width: 80px;
  border-radius: 20px; }

.shopping-cart-quantity-input {
  max-width: 45px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: #eee;
  padding: 5px; }

.shopping-cart-total {
  min-height: 96px; }

.filter {
  display: none; }

.a {
  text-decoration: none;
  color: black;
  font-weight: 200; }
  .a:hover {
    color: #226113;
    font-weight: bold; }
  .a img {
    width: 5%; }

.c {
  text-decoration: none;
  color: black;
  font-weight: 200; }
  .c:hover {
    color: #226113;
    font-weight: bold; }
  .c img {
    width: 10%; }

.b {
  text-decoration: none;
  color: black;
  font-weight: 200; }
  .b:hover {
    color: #3d3a3a;
    font-weight: bold; }
  .b img {
    width: 10%; }

.article {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  line-height: 2rem; }
  .article p {
    line-height: 4rem;
    margin-left: 0px;
    padding: 30px;
    border-radius: 50px;
    background-image: linear-gradient(to bottom right, #b9936c, #dac292); }

#zonae {
  font-size: 20px;
  margin-bottom: 1rem;
  padding: 10px;
  width: 170px;
  border-radius: 25px;
  background-image: linear-gradient(to bottom right, #b9936c, #dac292); }

.fondobutton2 {
  background-image: linear-gradient(to bottom right, #b9936c, #dac292);
  border-radius: 20px; }

.fondobutton3 {
  background-image: linear-gradient(to bottom right, #dac292, #b9936c);
  padding: 15px;
  border-radius: 25px; }

.footer {
  background-color: #753c1e;
  color: #141414;
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 20px;
  margin-top: 5rem;
  border-radius: 25px; }

.espaciadofooter {
  display: flex;
  flex-direction: column; }
  .espaciadofooter a {
    margin-top: 1rem;
    background-color: none; }
    .espaciadofooter a img {
      width: 20%; }

.logofooter {
  width: 35%;
  margin-left: 3rem;
  border-radius: 60px; }

.texto {
  margin-top: 1rem;
  font-size: 18px; }

.loginc {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif; }

.loginceramica {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: linear-gradient(to bottom right, #b9936c, #dac292); }

.formlogin {
  display: flex;
  flex-direction: column;
  background: #fff;
  text-align: center;
  padding: 20px 25px;
  box-shadow: 0 5px 10px #4e300d; }
  .formlogin h1 {
    color: #252525;
    font-size: 35px;
    font-weight: 800;
    margin-bottom: 30px; }
  .formlogin label {
    margin-bottom: 35px; }
    .formlogin label .fa-solid {
      font-size: 20px;
      color: #b9936c;
      margin-right: 10px; }
    .formlogin label input {
      outline: none;
      border: none;
      color: #252525;
      border-bottom: solid 1px #b9936c;
      padding: 0 5px;
      font-size: 18px; }
      .formlogin label input ::placeholder {
        color: gray; }
  .formlogin .link {
    color: #252525;
    margin-bottom: 15px; }
  .formlogin button {
    color: #fff;
    border: none;
    background: linear-gradient(to bottom right, #b9936c, #dac292);
    padding: 10px 15px;
    cursor: pointer;
    font-size: 20px; }

.imgterm {
  margin-top: 2rem;
  width: 70%; }

.center {
  margin-top: 1rem;
  display: flex;
  justify-content: center; }

.homebtn {
  background-image: linear-gradient(to bottom right, #b9936c, #dac292);
  border-radius: 20px; }
