.logo {
  width: 40%; }

.menu1 {
  display: flex;
  list-style: none;
  justify-content: end; }
  .menu1 li {
    margin-right: 10px; }
    .menu1 li a {
      color: black;
      font-size: 15px;
      text-decoration: none; }

.colorfondo {
  background-color: #c4b7a6; }

.colornavbar {
  background-color: #b9936c;
  border-radius: 25px; }

.espaciado {
  padding: 15px; }
  .espaciado h3 {
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-size: 20px;
    padding: 10px;
    width: 320px;
    border-radius: 25px;
    background-image: linear-gradient(to bottom right, #b9936c, #dac292); }
  .espaciado p {
    padding: 20px;
    font-weight: 200;
    border-radius: 25px;
    text-transform: lowercase;
    color: black;
    background-image: linear-gradient(to bottom right, #b9936c, #dac292); }

.fondo {
  background-color: #b9936c; }
  .fondo li a {
    color: #161616; }

.lista {
  list-style: none;
  width: 200px; }
  .lista li {
    margin-top: 1rem;
    line-height: 2rem; }
    .lista li a {
      text-decoration: none;
      color: black; }

.producto {
  display: flex;
  justify-content: center;
  font-size: 16px; }

.precio {
  display: flex;
  justify-content: center;
  font-size: 18px; }

.button, .buttonprice {
  background-color: #e6e2d3;
  border-radius: 10px;
  text-align: center;
  border: 1px solid black;
  margin-top: 1rem; }

.buttonprice {
  background-color: #b9936c; }

.fondolista {
  background-image: linear-gradient(to bottom right, #b9936c, #dac292);
  border-radius: 25px;
  padding-top: 15px; }

.a {
  text-decoration: none;
  color: black;
  font-weight: 200; }
  .a:hover {
    color: #226113;
    font-weight: bold; }
  .a img {
    width: 5%; }

.c {
  text-decoration: none;
  color: black;
  font-weight: 200; }
  .c:hover {
    color: #226113;
    font-weight: bold; }
  .c img {
    width: 10%; }

.b {
  text-decoration: none;
  color: black;
  font-weight: 200; }
  .b:hover {
    color: #3d3a3a;
    font-weight: bold; }
  .b img {
    width: 10%; }

.article {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  line-height: 2rem; }
  .article p {
    line-height: 4rem;
    margin-left: 0px;
    padding: 30px;
    border-radius: 50px;
    background-image: linear-gradient(to bottom right, #b9936c, #dac292); }

.margen {
  margin-top: 4px; }

#zonae {
  font-size: 20px;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 10px;
  width: 170px;
  border-radius: 25px;
  background-image: linear-gradient(to bottom right, #b9936c, #dac292); }

.table {
  background-image: linear-gradient(to bottom right, #b9936c, #dac292);
  padding: 30px;
  border-radius: 50px; }

.footer {
  background-image: url(https://d3ugyf2ht6aenh.cloudfront.net/stores/663/203/themes/new_linkedman/1-slide-1617985676791-5404585750-562ea28af032461405a4eb412ca16f681617985686-1920-1920.webp?963423592);
  color: black;
  font-family: "PT Sans Narrow", sans-serif;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 500;
  margin-top: 5rem; }

.espaciadofooter {
  display: flex;
  justify-content: space-around; }
  .espaciadofooter a {
    background-color: none; }
    .espaciadofooter a img {
      width: 50px; }

* {
  padding: 0;
  margin: 0; }

.stylesansnarrow {
  font-family: "PT Sans Narrow", sans-serif; }

.sansupper {
  font-family: "PT Sans Narrow", sans-serif;
  text-transform: uppercase; }

@media only screen and (max-width: 768px) {
  .logo {
    width: 30%; }
  .a img {
    width: 10%; } }
