.c {
    text-decoration: none;
    color: black;
    font-weight: 200;

    :hover {
        color: rgba(34, 97, 19, 0.829);
        font-weight: bold;
    }

    img {
        width: 10%;
    }
}

.b {
    text-decoration: none;
    color: black;
    font-weight: 200;

    :hover {
        color: rgb(61, 58, 58);
        font-weight: bold;
    }

    img {
        width: 10%;
    }
}
 