.c {
    text-decoration: map-get($estilos, decoration);
    color: black;
    font-weight: map-get($estilos, fontw);

    &:hover {
        color: map-get($estilos, colorwpp);
        font-weight: bold;
    }

    img {
        width: 10%;
    }
}

.b {
    text-decoration: none;
    color: black;
    font-weight: 200;

    &:hover {
        color: rgb(61, 58, 58);
        font-weight: bold;
    }

    img {
        width: 10%;
    }
}
 