.article {
    display: flex;
    justify-content: space-evenly ;
    flex-direction: row;
    line-height: 2rem;

    p {
        line-height: 4rem;
        margin-left: 0px;
        padding: 30px;
        border-radius: 50px;
        background-image: linear-gradient(to bottom  right, #b9936c, #dac292);
    }
}

#zonae {
    font-size: 20px;
    margin-bottom: 1rem;
    padding: 10px;
    width: 170px;
    border-radius: 25px;
    background-image: linear-gradient(to bottom  right, #b9936c, #dac292); 
}

.fondobutton2 {
    background-image: linear-gradient(to bottom  right, #b9936c, #dac292);
    border-radius: 20px;
}

.fondobutton3 {
    background-image: linear-gradient(to bottom right, #dac292, #b9936c);
    padding: 15px;
    border-radius: 25px;
}