.a {
    text-decoration: map-get($estilos, decoration);
    color: black;
    font-weight: map-get($estilos, fontw);
    
    &:hover {
        color: map-get($estilos, colorwpp);
        font-weight: bold;
    }

    img {
        width: 5%;
    }
    
}
