.a {
    text-decoration: none;
    color: black;
    font-weight: 200;
    
    :hover {
        color: rgba(34, 97, 19, 0.829);
        font-weight: bold;
    }

    img {
        width: 5%;
    }
    
}
