* {
    padding: 0;
    margin: 0;
}

.stylesansnarrow {
    font-family: "PT Sans Narrow", sans-serif;
}

.sansupper {
  font-family: "PT Sans Narrow", sans-serif;
  text-transform: uppercase;
}

@media only screen and (max-width: 768px) {
  .logo {
    width: 30%;
  }

  .a img {
    width: 10%;
  }

  .profile {
    margin-top: 0px;
  }
}
  