.footer {
    background-color: #753c1e;
    color: rgb(20, 20, 20);
    font-family: "PT Sans Narrow", sans-serif;
    font-size: 20px;
    margin-top: 5rem;
    border-radius: 25px;
    height: 200px;
}

.espaciadofooter{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    a {
        margin-top: 1rem;
        background-color: none;

        img {
            width: 20%;
        }
    }
  }

.logofooter {
    width: 35%;
    margin-left: 3rem;
    border-radius: 60px;
}

.texto {
    margin-top: 1rem;
    font-size: 18px;
}