.footer {
    background-image: url(https://d3ugyf2ht6aenh.cloudfront.net/stores/663/203/themes/new_linkedman/1-slide-1617985676791-5404585750-562ea28af032461405a4eb412ca16f681617985686-1920-1920.webp?963423592);
    color: black;
    font-family: "PT Sans Narrow", sans-serif;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 500;
    margin-top: 5rem;
}

.espaciadofooter{
    display: flex;
    justify-content: space-around;

    a {
        background-color: none;

        img {
            width: 50px;
        }
    }
  }