.logo {
    width: 40%;
    margin-top: 10px;
}

.menu1 {
    display: flex;
    list-style: none;
    justify-content: end;
    margin-top: 15px;

    li {
        margin-right: 10px;

        a {
            color: black;
            font-size: 15px;
            text-decoration: none;
        }
    }
}

.colorfondo {
    background-color: #c4b7a6;
}

.colornavbar {
    background-color: #b9936c;
    border-radius: 25px;
}

.fondobutton {
    background-image: linear-gradient(to bottom  right, #b9936c, #dac292);
    border-radius: 10px;
}
