.espaciado {
    padding: 15px;

    h3 {
        margin-top: 1rem;
        text-decoration: underline;
        font-size: 20px;
    }

    p {
        text-transform: lowercase;
        font-weight: 200;
        color: white;
        background-image: linear-gradient(to bottom  right, rgb(0, 0, 0), rgba(43, 40, 40, 0.726));
        padding: 20px;
    }
}
