@mixin center {
    display: flex;
    justify-content: center;
}

.fondo {
    background-color: #b9936c;
    li {
        
        a {
            color: rgb(22, 22, 22);
            
        }
    }
}

.lista{
    list-style: none;
    width: 200px;

    li {
        margin-top: 1rem;
        line-height: 2rem;

        a {
            text-decoration: none;
            color: black; 
        }
    }

}

.producto {
    @include center;
    font-size: 16px;
}

.precio {
    @include center;
    font-size: 18px;
}

.button {
    background-color: #e6e2d3; 
    border-radius: 10px;
    text-align: center;
    border: 1px solid;
    margin-top: 1rem;
    padding: 15px;
    width: auto;
}

.buttonprice { 
    @extend .button;
    background-color: #b9936c;
    margin-top: 1rem;
}

.fondolista {
    background-image: linear-gradient(to bottom  right, #b9936c, #dac292);
    border-radius: 25px;
    padding-top: 15px;
}

.sup {
    margin-bottom: 1rem;
}

.fondobutton3 {
    background-image: linear-gradient(to bottom  right, #b9936c, #dac292);
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
}

.item-details {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.item-image {
    width: 100%;
}

.shopping-cart-items {
    padding: 20px 0px;
}
  
.shopping-cart-header {
    border-bottom: 1px solid #ccc;
}
  
.shopping-cart-image {
    max-width: 80px;
    border-radius: 20px;
}
  
.shopping-cart-quantity-input {
    max-width: 45px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #eee;
    padding: 5px;
}
  
.shopping-cart-total {
    min-height: 96px;
}

.filter {
    display: none;
}