@mixin center {
    display: flex;
    justify-content: center;
}

.fondo {
    background-color: #b9936c;
    li {
        
        a {
            color: rgb(22, 22, 22);
            
        }
    }
}

.lista{
    list-style: none;
    width: 200px;

    li {
        margin-top: 1rem;
        line-height: 2rem;

        a {
            text-decoration: none;
            color: black; 
        }
    }

}

.producto {
    @include center;
    font-size: 16px;
}

.precio {
    @include center;
    font-size: 18px;
}

.button {
    background-color: #e6e2d3; 
    border-radius: 10px;
    text-align: center;
    border: 1px solid;
    margin-top: 1rem;
}

.buttonprice { 
    @extend .button;
    background-color: #b9936c;
}

.fondolista {
    background-image: linear-gradient(to bottom  right, #b9936c, #dac292);
    border-radius: 25px;
    padding-top: 15px;
}

.sup {
    margin-bottom: 1rem;
}