.imgterm {
  margin-top: 2rem;
  width: 70%;
}

.center {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
}


.homebtn {
    background-image: linear-gradient(to bottom  right, #b9936c, #dac292);
    border-radius: 20px;    
}